data/pointcloud/clean/pointcloud_frames.csv filter=lfs diff=lfs merge=lfs -text
data/pointcloud/medium/pointcloud_frames.csv filter=lfs diff=lfs merge=lfs -text
data/pointcloud/hard/pointcloud_frames.csv filter=lfs diff=lfs merge=lfs -text
